---
# tasks file for roles/fluentd

- name: Import a key for fluentd
  ansible.builtin.rpm_key:
    state: present
    key: https://s3.amazonaws.com/packages.treasuredata.com/GPG-KEY-td-agent


- name: fluentd | install
  become: true
  dnf:
    name: https://s3.amazonaws.com/packages.treasuredata.com/lts/5/redhat/9/x86_64/fluent-package-5.0.2-1.el9.x86_64.rpm
    update_cache: true
    state: present
    lock_timeout: "{{ fluentd_yum_lock_timeout }}"
  notify:
    - restart fluentd
#fluent-package-5.0.2-1.el9.x86_64z
- name: fluentd | add user to groups
  become: true
  user:
    name: td-agent
    append: true
    groups: "{{ item }}"
  with_items: "{{ fluentd_groups }}"
  notify:
    - restart fluentd

- name: fluentd | configuration directory
  become: true
  file:
    path: /etc/fluent/conf.d
    state: directory
    mode: 0755

- name: fluentd | main configuration
  become: true
  copy:
    src: fluentd.conf
    dest: /etc/fluent/fluentd.conf
    mode: 0644
  notify:
    - restart fluentd

- name: fluentd | list plugins
  #command: /usr/sbin/td-agent-gem list
  command: /usr/sbin/fluent-gem list
  register: _fluent_plugins
  changed_when: false
  check_mode: false

#- debug: var=_fluent_plugins

#- debug: var=_fluent_plugins.stdout

#- debug: var=_fluent_plugins.stdout_lines

#- debug: var="{{ fluentd_plugins }}"

- name: fluentd | install fluentd plugins
  become: true
  command: /usr/sbin/fluent-gem install {{ item }}
  with_items: "{{ fluentd_plugins }}"
  when: item not in _fluent_plugins.stdout
  notify:
    - restart fluentd

- name: fluentd | systemd configuration
  become: true
  file:
    path: /etc/systemd/system/fluentd.service.d
    state: directory
    mode: 0755

- name: fluentd | systemd configuration environment file
  become: true
  copy:
    src: systemd-fluentd-service-d-env.conf
    dest: /etc/systemd/system/fluentd.service.d/50-env.conf
    mode: 0644
  notify:
    - restart fluentd

- name: fluentd | environment variables
  become: true
  template:
    src: sysconfig-fluentd.j2
    dest: /etc/sysconfig/fluentd
    owner: root
    group: root
    # May contain sensitive tokens
    mode: 0600
  notify:
    - restart fluentd

- name: fluentd | start service
  become: true
  service:
    enabled: true
    name: "{{ fluentd_name }}"
    state: started
