---
- name: Converge
  hosts: all

  # Do some pre-test setup
  pre_tasks:
    - name: Import a key for epel
      ansible.builtin.rpm_key:
        state: present
        key:  https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-9

    - name: epel | setup dnf repository
      become: true
      ansible.builtin.dnf:
        update_cache: true
        name:
          https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
        state: present

    - name: install nginx
      become: true
      yum:
        name: nginx
        state: present

    - name: start nginx
      become: true
      service:
        enabled: true
        name: nginx
        state: started

    - name: ensure /var/log/nginx is accessible
      become: true
      file:
        path: /var/log/nginx
        mode: "a+rx"

  # Now test the fluentd role deployment
  roles:
    - role: ome.fluentd
      fluentd_groups: nginx

  tasks:
    - name: copy nginx fluentd config
      become: true
      copy:
        src: fluentd-conf/fluentd-nginx.conf
        #dest: /etc/fluent/conf.d/nginx.conf
        dest: /etc/fluent/fluentd.conf
        mode: 0644
      notify:
        - restart fluentd
